<li>
	{{name}}

	<button class="devoured-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}} Devoured {{else}}Regurgitate{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw me away!</button>
</li>
